# IntelliJ IDE files
.idea/
*.iml

# Node.js
node_modules/

# Build files
/build/
/dist/
/.webpack/

# Compiled Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# Dependency lock files
package-lock.json
yarn.lock